<!--#include virtual="/inc/header02.txt" -->
<title>GIS-lab: Контактная информация</title>
<!--#include virtual="/inc/header2.txt" -->
<div class="cont">
<div class="col1">

<ul class="path">
   <li class="first"><a href="/">Главная</a></li>
   <li>О сайте</li>
</ul>
<!--Contents start-->
<h1>Контактная информация</h1>
            <p>Если у вас коммерческий вопрос, то вам лучше сразу <a href="http://nextgis.ru/contact/">сюда</a>. Вы можете связаться с администрацией сайта одним из перечисленных внизу способов:</p>
            <table width="520" align="center">
              <tr>
                <th>Протокол</th>
                <th>ID</th>
              </tr>
              <tr>
                <td>Контактное лицо </td>
                <td><a href="http://m-d.me/about.html">Максим Дубинин</a> </td>
              </tr>
              <tr>
                <td>Телефон</td>
                <td>+7910-426-0262</td>
              </tr>
              <tr>
                <td><p>E-mail</p></td>
                <td><p><a href="mailto:sim@gis-lab.info">sim@gis-lab.info</a></p></td>
              </tr>
              <tr>
                <td><p>Jabber/Google Talk </p></td>
                <td><p>sim@gis-lab.info</p></td>
              </tr>
              <tr>
                <td><p>IRC</p></td>
                <td><p><a href="/irc.html">#gis-lab, irc.freenode.net</a><br />
                  (<a href="/qa/irc.html">настройки доступа</a>)</p></td>
              </tr>
              <tr>
                <td><p>Skype</p></td>
                <td><p><a href="skype:maximdubinin?userinfo">maximdubinin</a></p></td>
              </tr>
            </table>
			<p>
			  <!--#include virtual="/scripts/date.php" -->
                  <!--Contents end-->
                    </p>
			<!--#include virtual="/inc/footer2.php" -->
