<!--#include virtual="/inc/header02.txt" -->
<title>GIS-Lab: Геоинформационные системы и Дистанционное зондирование Земли</title>
<!--#include virtual="/inc/header2.txt" -->
<!--Contents start-->
<div class="cont">
<div class="col1 main">
<p style="margin-top:25px;"><i>«<strong>GIS-Lab</strong> — неформальное  сообщество специалистов в области ГИС и ДЗЗ, развивающих себя и помогающих осваивать пространственные технологии тем, кому необходима помощь.»</i></p>
<p><i>Мы руководствуемся правилом: «Не важно как хорошо ты разбираешься в определенной области, всегда есть кто-то, кто знает больше, включая тебя самого — неделей позже.»</i></p>
        <p>Для поиска ответа на свой вопрос начните с раздела <a href="/qa.html">Статьи</a>, можно также задать его на <a href="http://gis-lab.info/forum">Форуме</a> или воспользоваться <a href="/scripts/search.cgi">Поиском</a>. Отслеживать новости удобно по <a href="/qa/use-rss.html">RSS</a>, здесь публикуются новости примерно 1 раз в месяц, более актуальные новости смотрите в блоге, форуме и твиттере. </p>
        <p>Мы будем рады любому <a href="help.html">участию</a> в нашем сообществе! <a href="mailto:sim@gis-lab.info">Пишите, мы любим письма</a>.</p>
        <br />
        <br />
        <br />
        <div style="padding:5px;background-color:#F5F5F5">
        <h2>Новые материалы <a href="http://gis-lab.info/news.xml"><img src="images/rss.png" alt="RSS"></a></h2>

		<p class="row">
		  <a href="/qa/isochrone-map-grass-qgis.html">Базовая оценка транспортной доступности средствами GRASS GIS и QGIS</a> <a href="/forum/viewtopic.php?t=22712"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/aerial_photo_DJI_Phantom_3.html">Опыт организации бюджетной топографической аэрофотосъемки в условиях полевой экспедиции средствами любительского БПЛА DJI Phantom 3 Advanced</a> <a href="/forum/viewtopic.php?t=21446"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/grass7-landsat8-processing.html">Обработка и интерпретация данных Landsat 8 (OLI) средствами GRASS GIS 7</a> <a href="/forum/viewtopic.php?t=18707"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/osm-mapping-priority.html">Приоритет отрисовки в OpenStreetMap</a> <a href="/forum/viewtopic.php?t=22353"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/qgis-sacp-sentinel2a.html">Опыт классификации космоснимка Sentinel-2a с помощью Semi-Automatic Classification Plugin в QGIS</a> <a href="/forum/viewtopic.php?t=21907"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/minkowski-dimension-qgis.html">Расчёт фрактальной размерности Минковского для векторных объектов в QGIS</a> <a href="/forum/viewtopic.php?t=20341"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/atcorr-dos.html">Атмосферная коррекция по методу DOS</a> <a href="/forum/viewtopic.php?t=19478"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/mapinfo-resources.html">Работа с ресурсами для оптимизации MapInfo</a> <a href="/forum/viewtopic.php?t=21916"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/python-orbital-tracks.html">Моделирование проекций орбит ИСЗ на поверхность Земли на Python с использованием модели SGP4 и API space-track.org</a> <a href="/forum/viewtopic.php?t=21875"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/dtclassifier_console.html">Использование консольного DTclassifier для классификации растровых данных и анализа изменений</a> <a href="/forum/viewtopic.php?t=21750"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/sparql_wikidata.html">SPARQL на примерах Wikidata</a> <a href="/forum/viewtopic.php?t=21683"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/landsat_qgis_scp.html">Опыт классификации космоснимка Landsat с помощью Semi-Automatic Classification Plugin в QGIS</a> <a href="/forum/viewtopic.php?t=20621"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/lidar_postgis_pdal.html">Импорт и анализ данных лидарной съемки в PostgreSQL/PostGIS с помощью PDAL</a> <a href="/forum/viewtopic.php?t=21684"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/gdal_spectral_characteristics.html">Пример использования утилит GDAL для вычисления яркостных характеристик снимков (на примере выявления рубок по зимним данным Landsat)</a> <a href="/forum/viewtopic.php?t=21106"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		  <a href="/qa/nextgiscom.html">Создание Веб ГИС на nextgis.com</a> <a href="/forum/viewtopic.php?t=21713"><img src="/images/forumq.gif" alt="обсудить в форуме" /></a><br />
		</p>
		

		</div>
		<p>Архив новостей: <a href="newsarchive2015.html">2015</a> : <a href="newsarchive2014.html">14</a> : <a href="newsarchive2013.html">13</a> : <a href="newsarchive2012.html">12</a> : <a href="newsarchive2011.html">11</a> : <a href="newsarchive2010.html">10</a> : <a href="newsarchive2009.html">09</a> : <a href="newsarchive2008.html">08</a> : <a href="newsarchive2007.html">07</a> : <a href="newsarchive2006.html">06</a> : <a href="newsarchive2005.html">05</a> : <a href="newsarchive2004.html">04</a> : <a href="newsarchive2003.html">03</a> : <a href="newsarchive.html">02</a></p>
        <div align="right" class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
	<a class="addthis_button_vk"></a> 
    <a class="addthis_button_email"></a>
    <a class="addthis_button_facebook_like"></a>
	<a class="addthis_button_google_plusone"></a>
	<span class="addthis_separator"> </span>
	<a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact">Поделиться</a>

    <!--#include virtual="/inc/ad/2-main.htm" -->
</div>
<!-- Yandex.Metrika counter --> <script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script> <script type="text/javascript" > try { var yaCounter47284203 = new Ya.Metrika({ id:47284203, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } </script> <noscript><div><img src="https://mc.yandex.ru/watch/47284203" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!--#include virtual="/scripts/date.php" -->
<!--#include virtual="/inc/footer2-noside.php?is_main=1" -->
